<div class="top-nav">
    <ul>
        <li class="logged-out">
            <a class="modal-open" data-modal="modal-account">account</a>
        </li>
        <li class="logged-in">
            <a class="log-out" id="log_out">log out</a>
        </li>
    </ul>
</div>