<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  {{>styles}}
  <title>Socket - Playground</title>
</head>

<body>
  {{>topnav}}
  <div class="content-wrapper">
  </div>
  <h1>15 auf die 5 😊 - Wilkommen im Spiel <span id="player_name"></span></h1>
  <div class="room-id">Die Spiel ID lautet: <span id="game_room_id">{{id}}</span></div>
  <div class="game-wrapper">
    {{>game}}
  </div>
  {{>modals}}
  <div class="event-overlay modal-close"></div>

  <script src="/js/firebase.min.js"></script>
  <script>

    var firebaseConfig = {
      apiKey: "AIzaSyAE5miNmyfRHpWpTxaCwXE2QBonvbb9P8k",
      authDomain: "socket-playground.firebaseapp.com",
      projectId: "socket-playground",
      storageBucket: "socket-playground.appspot.com",
      messagingSenderId: "700123376335",
      appId: "1:700123376335:web:09c79341f316a3c80b25ba"
    };
    firebase.initializeApp(firebaseConfig);
    const auth = firebase.auth();
    const db = firebase.firestore();
    const functions = firebase.functions();
    db.settings({ timestampsInSnapshots: true });
  </script>
  <script src="/js/ui.js"></script>
  <script src="/js/game.js"></script>
</body>

</html>